
.top20px{
    margin-top: 20px;
}

.top40px{
    margin-top: 40px;
}

.left20px{
    margin-left: 20px;
}

.right20px{
    margin-right: 20px;
}

.right50px{
    margin-right: 50px;
}

.font20px{
    font-size: 20px;
}

.input-group-btn  button {
    min-width:80px;
    text-align:center;
}

.input-group-addon{
    min-width:180px;
}
